<div class="modal-header" style="margin-bottom: 14px">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
		<h3 ng-if="!modalOptions.propertyData.id || modalOptions.copy"class="text-center">Add New Property</h3>
		<h3 ng-if="modalOptions.propertyData.id  && !modalOptions.copy"class="text-center">Update Property</h3>
</div>
<form name="addPropertyForm" class="form-horizontal modal-body" role="form" novalidate="novalidate" ng-submit="addPropertyForm.$valid" ng-init="modalOptions.configData(modalOptions)">
<accordion close-others="true">
	<accordion-group heading="Property Structure" is-open="modalOptions.status.isFirstOpen">
	<div class="form-group">
		<label for="title" class="col-sm-2 control-label">Property Title *</label>
		<div class="col-sm-9">
			<input type="text" id="title" class="form-control" name="title" ng-model="modalOptions.property.title" required placeholder="Property Title"/>
			<span class="text-danger" ng-show="addPropertyForm.title.$dirty && addPropertyForm.title.$invalid">
				<span ng-show="addPropertyForm.title.$error.required">Property title is Required.</span>
			</span>											 
		</div>				
	</div>
		
	<div class="form-group" ng-init="modalOptions.configData(modalOptions)">
		<label for="category" class="col-sm-2 control-label">Property Category *</label>
		<div class="col-sm-3">
			<select id="category" name="category" ng-model="modalOptions.property.category" class="form-control" required  ng-options="item.category_name as item.category_name for item in modalOptions.propertyConfig.category">
				<option value="">Select Property Category</option>			
			</select>
			
			<span class="text-danger" ng-show="addPropertyForm.category.$dirty && addPropertyForm.category.$invalid">
				<span ng-show="addPropertyForm.category.$error.required">Selection of Property category is must.</span>
			</span>				 
		</div>
		<label for="type" class="col-sm-2  control-label">Property Type *</label>
			<div class="col-sm-4" ng-init="modalOptions.configData(modalOptions)">
				<select  id="type"  name="type" ng-model="modalOptions.property.type" class="form-control" required ng-options="item.type as item.type for item in modalOptions.propertyConfig.types" >
					<option value="">Select Property Type</option>		
				</select>
					<span class="text-danger" ng-show="addPropertyForm.type.$dirty && addPropertyForm.type.$invalid">
						<span ng-show="addPropertyForm.type.$error.required">Selection of Property type is must.</span>
					</span>	
			</div>
	</div>
	
	<div class="form-group">
	<label for="floor_no" class="col-sm-2">Floor Number</label>
		<div class="col-sm-9">
			<select id="floor_no" name="floor_no" class="form-control" ng-model="modalOptions.property.floor_no" ng-options="item for item in [0,12] | range" required />
				<option value="" selected>Select Floor Number</option>
			</select>
			<span class="text-danger" ng-show="addPropertyForm.floor_no.$dirty && addPropertyForm.floor_no.$invalid">
				<span ng-show="addPropertyForm.floor_no.$error.required">Floor Number is Required.</span>
			</span>	
		</div>
	</div>
	
	<div class="form-group">
		<label for="prop_desc" class="col-sm-2 control-label">Property Discription *</label>
		<div class="col-sm-9">
			<textarea type="text" class="form-control" name="prop_desc" ng-model="modalOptions.property.property_description" cols="30" rows="4" ng-maxlength="700" required></textarea>
			
			<p ng-hide="addPropertyForm.property_description.$error.maxlength">{{ 700 - modalOptions.property.property_description.length + " Chars left" }}</p>
			
			<span class="text-danger" ng-show="addPropertyForm.prop_desc.$error.maxlength">
				Sorry You are Exceeding the Limit
			</span>	
			<span class="text-danger" ng-show="addPropertyForm.prop_desc.$dirty && addPropertyForm.prop_desc.$invalid">
				<span ng-show="addPropertyForm.prop_desc.$error.required">Property Description is required .</span>
		</div>				
	</div>
	<div class="form-group">
		<label for="bedrooms" class="col-sm-2 control-label">Bedrooms </label>
		<div class="col-sm-3" ng-init="modalOptions.configData(modalOptions)">
			<select class="form-control" id="bedrooms" name="bedrooms" ng-model="modalOptions.property.property_info.bedrooms"  ng-options="item as item for item in modalOptions.propertyConfig.Bedrooms" required>
				<option value="" selected>Select one</option>						
			</select>
			<span class="text-danger" ng-show="addPropertyForm.bedrooms.$dirty && addPropertyForm.bedrooms.$invalid">
			</span>
		</div>
		<label for="bathrooms" class="col-sm-2 control-label">Bathrooms </label>
			<div class="col-sm-4" ng-init="modalOptions.configData(modalOptions)">
				<select class="form-control" id="bathrooms"  name="bathrooms" ng-model="modalOptions.property.property_info.bathrooms" required ng-options="item as item for item in modalOptions.propertyConfig.Bathrooms">
					<option value="" selected>Select one</option>	
				</select>	
				 <span class="text-danger" ng-show="addPropertyForm.bathrooms.$dirty && addPropertyForm.bathrooms.$invalid">
				</span>				 
			</div>									
	</div>
	<div class="form-group">
		<label for="propertyPrice" class="col-sm-2 control-label ">Licence Fees*</label>
		<div class="col-sm-3">
			<input type="text" id="propertyPrice" class="form-control" name="propertyPrice" ng-model="modalOptions.property.price" ng-pattern="/^\d{0,9}[0-9]$/" required>
			<span class="help-block" ng-show="addPropertyForm.propertyPrice.$dirty && addPropertyForm.propertyPrice.$invalid">
			<span ng-show="addPropertyForm.propertyPrice.$error.pattern" class="text-danger">Fees is Number</span>
			<span class="text-danger" ng-show="addPropertyForm.propertyPrice.$error.required">Licence Fees is required.</span></span>
		</div>
		<label for="deposit" class="col-sm-2 control-label ">Deposit*</label>
		<div class="col-sm-4">
			<input type="text" id="deposit" name="deposit" class="form-control" ng-model="modalOptions.property.deposit" ng-pattern="/^\d{0,9}[0-9]$/" required>
			<span class="help-block" ng-show="addPropertyForm.deposit.$dirty && addPropertyForm.deposit.$invalid">
			<span ng-show="addPropertyForm.deposit.$error.pattern" class="text-danger">Deposit is Number</span>
			<span class="text-danger" ng-show="addPropertyForm.deposit.$error.required">Licence Fees is required.</span></span>
		</div>	
	</div>
	
	<div class="form-group">
	  <label for="property_images" class="col-sm-2 control-label" >Property Images *</label>
		<div class="col-sm-9">
			<!-- This is file input for select images -->
			<input type="file" id="property_images" ng-file-select ng-multiple="true" accept="image/jpeg,image/png,image/gif" ng-file-change="modalOptions.generateThumb($files)"  ng-model="property_images" ng-src="{{appConfig.assetPath + '/' + value.file_relative_path}}"required />		
			<!-- This will show thumbnails & progress of images -->
			<file-preview url="property_images"></file-preview>
			<!-- This button will show if file/s selected -->
			<button ng-show="property_images" ng-click="modalOptions.upload(property_images,path,userInfo,modalOptions)" type="button">Upload</button>
			<!-- This hidden input will store image path in array after successful uploading -->
			<input type="hidden" ng-model="modalOptions.property.property_images"/>	
			<span class="thumbs" ng-repeat="(key, value) in modalOptions.property.property_images">
				<img class="img-thumbnail" width="40px" ng-src="{{appConfig.assetPath + value.file_relative_path}}" />
				<span class="close" ng-click="modalOptions.removeImg(key, modalOptions.property.property_images)">X</span>
			</span>		
		</div>
	</div>
	
	<h4>Property Location:</h4>	
	<div class="form-group">
	<label for="address" class="col-sm-2 control-label">Address*</label>
	<div class="col-sm-9">
		<textarea type="text" class="form-control" id="address" name="address" ng-model="modalOptions.property.property_location.address" cols="30" rows="3" ng-maxlength="500" placeholder="Enter address"  required></textarea>
		<p ng-hide="addPropertyForm.address.$error.maxlength">
			{{ 500 - addPropertyForm.property_location.address.length + " Chars left" }}
		</p>
		<span class="help-block" ng-show="addPropertyForm.address.$dirty && addPropertyForm.address.$invalid">
			<span ng-show="addPropertyForm.address.$error.maxlength"class="text-danger">Sorry You are Exceeding the Limit</span>
			<span class="text-danger" ng-show="addPropertyForm.address.$error.required">Address is required.</span>
		</span>					
	</div> 
	</div>	
	
	<div class="form-group">
		<label for="area" class="col-sm-2 control-label">Area*</label>
		<div class="col-sm-3">
			<input type="text" id="area" name="area" class="form-control" ng-model="modalOptions.property.property_location.area" placeholder="Enter area" required>
			<span class="help-block" ng-show="addPropertyForm.area.$dirty && addPropertyForm.area.$invalid">
				<span class="text-danger" ng-show="addPropertyForm.area.$error.required && (addPropertyForm.area.$dirty || submitted)">Enter Area Code.</span>
			</span>
		</div>	
		<label for="location" class="col-sm-2 control-label">Location*</label>
		<div class="col-sm-4">
			<input type="text"name="location" id="location" ng-model="modalOptions.property.property_location.location" placeholder="Location" class="form-control" required>
				<span class="help-block" ng-show="addPropertyForm.location.$dirty && addPropertyForm.location.$invalid || addPropertyForm.location.$dirty">
					<span class="text-danger" ng-show="addPropertyForm.location.$dirty && (addPropertyForm.location.$error.required )">Location required.If Location not found enter pincode.</span>
				</span>
		</div>				
	</div>			
	
	<div class="form-group">			
		<label for="pincode" class="col-sm-2 control-label">PinCode*</label>
		<div class="col-sm-3">
			<input type="text" id="pincode" name="pincode" class="form-control" ng-model="modalOptions.property.property_location.pincode" placeholder="Enter Pin Code" ng-pattern="/^\d{0,9}[0-9]$/" maxlength="6"  ng-minlength="6">
			<span class="help-block" ng-show="addPropertyForm.pincode.$dirty && addPropertyForm.pincode.$invalid">
				<span ng-show="addPropertyForm.pincode.$error.pattern && (addPropertyForm.pincode.$dirty || submitted)" class="text-danger">Enter a valid Pin Code</span>
				<span class="text-danger" ng-show="addPropertyForm.pincode.$error.minlength && (addPropertyForm.pincode.$dirty || submitted)">Enter Valid Length Of Pin Code.</span>
			</span>
		</div>	
		
		<label for="City" class="col-sm-2 control-label">City *</label>
		<div class="col-sm-4">
			<input type="text" name="City" id="City" ng-model="modalOptions.property.property_location.city" placeholder="Enter Your City"  class="form-control" required>
			<span class="help-block" ng-show="addPropertyForm.City.$dirty && addPropertyForm.City.$invalid">
				<span ng-show="addPropertyForm.City.$error.required || addPropertyForm.City.$dirty" class="text-danger">City is required.</span>
			</span>				
		</div>
	</div>
	
	<div class="form-group">
		<label for="state" class="col-sm-2 control-label">State *</label>
		<div class="col-sm-3">
		<input type="text" id="state" name="state" class="form-control" ng-model="modalOptions.property.property_location.state" placeholder="Enter state" required>
			<span class="help-block" ng-show="addPropertyForm.state.$dirty && addPropertyForm.state.$invalid">
				<span ng-show="addPropertyForm.state.$error.required" class="text-danger">State is required.</span>
			</span>				
		</div>
		<label for="Country" class="col-sm-2 control-label">Country *</label>
		<div class="col-sm-4">
			<input type="text"name="Country" id="Country" ng-model="modalOptions.property.property_location.country" placeholder="Enter Your Country" class="form-control" required>
			<span class="help-block" ng-show="addPropertyForm.Country.$dirty && addPropertyForm.Country.$invalid">
				<span ng-show="addPropertyForm.Country.$error.required || addPropertyForm.Country.$dirty" class="text-danger">Country is required.</span>
			</span>				
		</div>
		
	</div>
	
	<h4>Amenities:</h4>
		<div class="form-group row">
			<div class="checkbox col-sm-12" ng-init="modalOptions.configData(modalOptions)">
				<label class="col-sm-3" ng-repeat="x in modalOptions.propertyConfig.amenities">
					<input type="checkbox" checklist-model="modalOptions.property.amenities" checklist-value="x" required />
					{{x}}
				</label>
			</div>					
		</div>
		
		<button type="button" class="btn btn-primary" ng-click="status.open = !status.open">Next</button>
	</accordion-group>
	<accordion-group heading="Optional Details" is-open="status.open">
	<h3>Built Up Details</h3>
	<div class="form-group">
		<label for="buildup_area" class="col-sm-2 control-label">Built Up Area * </label>
		<div class="col-sm-6">
			<input type="text"  id="buildup_area" class="form-control help-block" name="buildup_area" ng-model="modalOptions.property.property_info.buildup_area" ng-pattern="/^\d{0,9}[0-9]$/" required>
			
			<p ng-show="addProperty.buildup_area.$error.pattern && (addProperty.buildup_area.$dirty || submitted)" class="text-danger">Enter only no.</p>
		</div>							
		<div class="col-sm-3">
			<select class="form-control" ng-model="modalOptions.property.property_info.build_unit"  title="" required >
				<option selected value="">Unit Area</option>
				<option value="Feet">Sq. Feet</option>
				<option value="Cent">Cent</option>
				<option value="Yard">Sq. Yard</option>					
			</select>
			<span class="text-danger" ng-show="addProperty.buildup_area.$dirty && addProperty.buildup_area.$invalid">
			  <span ng-show="addProperty.buildup_area.$error.required">Built Area is required .</span>
			</span>				 
		</div>
	</div>	
	
	<div class="form-group">
		<label for="land_area" class="col-sm-2 control-label ">Plot/ Land Area * </label>
		<div class="col-sm-6">
			<input type="text" id="land_area" class="form-control" name="land_area" ng-model="modalOptions.property.property_info.land_area"  ng-pattern="/^\d{0,9}[0-9]$/" required>
			<p ng-show="addProperty.land_area.$error.pattern && (addProperty.land_area.$dirty || submitted)" class="help-block">Enter only no.</p>
		</div>
		<div class="col-sm-3">
			<select class="form-control" ng-model="modalOptions.property.property_info.land_unit" required>
				<option selected value="">Unit Area</option>
				<option value="Feet">Sq. Feet</option>
				<option value="Cent">Cent</option>
				<option value="Yard">Sq. Yard</option>					
			</select>
			<span class="text-danger" ng-show="addProperty.land_area.$dirty && addProperty.land_area.$invalid">
			  <span ng-show="addProperty.land_area.$error.required">Land Area is required .</span>
			</span>				 
		</div>				
	</div>	

	<div class="form-group">
		<label for="carpet_area" class="col-sm-2 control-label">Carpet Area </label>
		<div class="col-sm-6">
			<input type="text" id="carpet_area" class="form-control" name="carpet_area" ng-model="modalOptions.property.property_info.carpet_area" ng-pattern="/^\d{0,9}[0-9]$/" required>
			<p ng-show="addProperty.carpet_area.$error.pattern && (addProperty.carpet_area.$dirty || submitted)" class="help-block">Enter only no.</p>				 
		</div>
		<div class="col-sm-3">
			<select class="form-control" ng-model="modalOptions.property.property_info.carpet_unit" required>
				<option selected value="">Unit Area</option>
					<option value="Feet">Sq. Feet</option>
					<option value="Cent">Cent</option>
					<option value="Yard">Sq. Yard</option>				
			</select>
			
			<span class="text-danger" ng-show="addProperty.carpet_area.$dirty && addProperty.carpet_area.$invalid">
				<span ng-show="addProperty.carpet_area.$error.required">Carpet Area is required .</span>
			</span>				 
		</div>				
	</div>
	<h3>Property Details:</h3>
		<div class="form-group">
			<label for="prop_age" class="col-sm-2 control-label">Property Age</label>
			<div class="col-sm-4" ng-init="modalOptions.configData(modalOptions)">
				<select class="form-control"  id="prop_age" ng-model="modalOptions.property.optional_property_details.property_age"  ng-options="item for item in modalOptions.propertyConfig.propertyAge" required>
					<option value="" selected>Select One</option>	
				</select>
			</div>	
			<label for="prop_owner" class="col-sm-1 control-label">Ownership</label>
			<div class="col-sm-4" ng-init="modalOptions.configData(modalOptions)">
				<select class="form-control" id="prop_owner" ng-model="modalOptions.property.optional_property_details.ownership" ng-options="item for item in modalOptions.propertyConfig.ownership" required>
					<option value="" selected>Select One</option>					
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="furnished" class="col-sm-2 control-label">Furnished</label>
			<div class="col-sm-4" ng-init="modalOptions.configData(modalOptions)">
				<select class="form-control" id="furnished" ng-model="modalOptions.property.optional_property_details.furnished" ng-options="item for item in modalOptions.propertyConfig.furnished" required>
					<option value="" selected>Select One</option>				
				</select>
			</div>
			<label for="floors" class="col-sm-1 control-label">TotalFloors</label>
			<div class="col-sm-4" ng-init="modalOptions.configData(modalOptions)">
				<select class="form-control" id="floors" ng-model="modalOptions.property.optional_property_details.property_floor" ng-options="item for item in modalOptions.propertyConfig.floors" required>
					<option value="" selected>Select One</option>
					
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="facing" class="col-sm-2 control-label">Facing</label>
			<div class="col-sm-4" ng-init="modalOptions.configData(modalOptions)">
				<select class="form-control" id="facing" ng-model="modalOptions.property.optional_property_details.facing" ng-options="item for item in modalOptions.propertyConfig.facing" required>
					<option value="">Select One</option>										
				</select>
			</div>
			<label for="parking" class="col-sm-1 control-label">Parking</label>
			<div class="col-sm-4" ng-init="modalOptions.configData(modalOptions)">
				<select class="form-control" id="parking" ng-model="modalOptions.property.optional_property_details.parking" ng-options="item for item in modalOptions.propertyConfig.parking" required>
					<option value="" selected>Select One</option>				
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for=" transType" class="col-sm-2 control-label">Transaction Type</label>
			<div class="col-sm-4" ng-init="modalOptions.configData(modalOptions)">
				<select class="form-control" id="transType" ng-model="modalOptions.property.optional_property_details.transType" ng-options="item for item in modalOptions.propertyConfig.transaction_type" required>							
					<option value="">Select Transaction Type</option>				
				</select>
			</div>
		</div>						
					
		<h4>Land Mark:</h4>
		<div class="form-group">
				<label for="hospitals" class="col-sm-2 control-label">Hospitals</label>
				<div class="col-sm-4">
					<input type="text"  id="hospitals" class="form-control" name="hospitals" ng-model="modalOptions.property.landmarks.hospitals" required /> kms						
				<span class="help-block" ng-show="addProperty.hospitals.$dirty && addProperty.hospitals.$invalid">
					<span ng-show="addProperty.hospitals.$error.pattern && (addProperty.hospitals.$dirty || submitted)" class="text-danger">Enter only numbers. 
					.</span>
				</span>		
				</div>							
				<label for="airport" class="col-sm-1 control-label">Airport </label>
				<div class="col-sm-4">
					<input type="text" id="airport" class="form-control" name="airport" ng-model="modalOptions.property.landmarks.airport" required />	kms						 
				</div>											
		</div>
		
		<div class="form-group">
				<label for="railway" class="col-sm-2 control-label">Railway Station</label>
				<div class="col-sm-4">
					<input type="text" id="railway" class="form-control" name="railway" ng-model="modalOptions.property.landmarks.railway" required>kms	
				</div>										
				<label for="school" class="col-sm-1 control-label">School</label>
				<div class="col-sm-4">
					<input type="text" id="school" class="form-control" name="school" ng-model="modalOptions.property.landmarks.school" required>kms	
				</div>											
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
			<a type="submit" ng-if="!modalOptions.propertyData.id || modalOptions.copy" ng-click="modalOptions.addProperty(modalOptions.property); modalOptions.ok()" class="btn btn-primary" title="Add new property">Add Property</a>
				
			<a type="submit" ng-if="modalOptions.propertyData.id  && !modalOptions.copy" ng-click="modalOptions.updateData(modalOptions.propertyData.id,modalOptions.property); modalOptions.ok()" title="Update your property" class="btn btn-success text-center ">Update Property</a>
			<button type="button" title="Cancel" class="btn btn-danger text-center" ng-click="modalOptions.ok()">Cancel</button>
			</div>
		</div>	
	</accordion-group>
	</accordion>
</form>