<div class="row">
	<div class="col-md-12">
		<div class="main-content">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
							<div class="gridblock">
								<h4>
									<span tooltip="In this area you will find all reports views" class="glyphicon glyphicon-info-sign"></span>Bill Payment
								</h4>
								<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/accounting/payment">Bill Payment</a>
							</div>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
							<div class="gridblock">
								<h4>
									<span tooltip="You can add new stock item.List of stock items you have added!" class="glyphicon glyphicon-info-sign"></span> Stock
								</h4>
								<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/accounting/stock">Stock</a>
							</div>
						</div>	
					</div>
					
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
							<div class="gridblock">
								<h4>
									<span tooltip="In this area you will find all reports views" class="glyphicon glyphicon-info-sign"></span>Invoice
								</h4>
								<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/accounting/invoice">Invoice</a>
							</div>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
							<div class="gridblock">
								<h4>
									<span tooltip="List of users you have added!" class="glyphicon glyphicon-info-sign"></span> Transaction
								</h4>
								<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/accounting/transaction">Transaction</a>
							</div>
						</div>	
						<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
							<div class="gridblock">
								<h4>
									<span tooltip="Account Maintenance!" class="glyphicon glyphicon-info-sign"></span>Account</h4>
								<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/accounting/account">Account</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
							<div class="table-responsive" ng-init="getInvoices(currentPage)">
									<table class="table  table-hover table-bordered">
										<thead>
											<th>Party Name</th>
											<th>Payment Status</th>
											<th>Due Amount</th>
											<th>Due Date</th>
										</thead>
										<tbody>
										<tr ng-repeat="x in invoices | orderBy:sort" ng-class="(x.due_date <= currentDate && x.payment_status == 0) ? 'bg-danger' : ''" ng-if="(x.due_date <= currentDate && x.payment_status == 0)">
											<td>{{ x.username }}</td>
											<td><span ng-if="(x.payment_status == 1)">Paid</span> <span ng-if="(x.payment_status == 0)">Unpaid</span> <span ng-if="(x.payment_status == 2)">Partial Paid</span></td>
											<td class="text-right">{{ x.due_amount | number : 2}}</td>
											<td class="text-right">{{ x.due_date}}</td>
											
										</tr>
										
										</tbody>
									  </table>
							</div>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
							<div class="table-responsive" ng-init="getTrans(currentPage)">{{transdata}}
									<table class="table  table-hover table-bordered">
										<thead>
											<th>Type</th>
											<th>Total Amount</th>
											
										</thead>
										<tbody>
										<tr >
											<td>{{ transdata.type }}</td>
											
											<td class="text-right">{{ transdata.total_amount }}</td>
											
										</tr>
										
										</tbody>
									  </table>
							</div>
						</div>
					</div>
		</div>
	</div>
</div> 