<div class="row">
	<div class="col-sm-6">
		<a class="btn btn-primary" href="#/dashboard/accounting/invoice">Invoices</a>
		<a class="btn btn-primary" href="#/dashboard/accounting/transaction">Transactions</a>
		<a class="btn btn-primary" href="#/dashboard/accounting/account">Accounts</a>
	</div>
	<div class="col-sm-6">
		<a ng-if="transaction" class="btn btn-primary" ng-click="openAddincome('modules/accounting/transaction/addincome.html')">Add Income</a>
		<a ng-if="transaction" class="btn btn-primary" ng-click="openAddexpense('modules/accounting/transaction/addexpense.html')">Add Expense</a>
		<a ng-if="account" class="btn btn-primary" ng-click="openAddaccount('modules/accounting/account/addaccount.html')">Add Account</a>
		<a ng-if="invoice" class="btn btn-primary" ng-click="openGenerateinvoice('modules/accounting/invoice/addinvoice.html')">Add Invoice</a></span>
	</div>
</div>