<div class="row">
	<div class="col-sm-6">
		<a class="btn btn-primary" href="#/dashboard/accounting/invoice">Invoices</a>
		<a class="btn btn-primary" href="#/dashboard/accounting/transaction">Transactions</a>
		<a class="btn btn-primary" href="#/dashboard/accounting/account">Accounts</a>
		<a class="btn btn-primary" href="#/dashboard/accounting/bill">Purchase Bills</a>
		<a class="btn btn-primary" href="#/dashboard/accounting/balance">Balance Sheet</a>
	</div>
	<div class="col-sm-6">
		<a ng-if="transactionView" class="btn btn-primary" ng-click="openAddincome('modules/accounting/transaction/addincome.html')"><span class="glyphicon glyphicon glyphicon-plus"></span>  Add Income</a>
		<a ng-if="transactionView" class="btn btn-primary" ng-click="openAddexpense('modules/accounting/transaction/addexpense.html')"><span class="glyphicon glyphicon glyphicon-plus"></span>  Add Expense</a>
		<a ng-if="transactionView" class="btn btn-primary" ng-click="transfer('modules/accounting/transaction/transfer.html')"><span class="glyphicon glyphicon glyphicon-plus"></span>Transfer</a>
		<a ng-if="account" class="btn btn-primary" ng-click="openAddaccount('modules/accounting/account/addaccount.html')">Add Account</a>
		<a ng-if="invoice" class="btn btn-primary" ng-click="openGenerateinvoice('modules/accounting/invoice/addinvoice.html')">Add Invoice</a></span>
		<a ng-if="bill" class="btn btn-primary" ng-click="openGeneratebill('modules/accounting/bill/addbill.html')">Add Purchase Bill</a></span>
	</div>
</div>