<div class="row">
	<div class="col-sm-6">
		<a class="btn btn-primary">Namskar</a>
		<a class="btn btn-primary" href="#/dashboard/accounting/transaction">Transaction</a>
		<a class="btn btn-primary" href="#/dashboard/accounting/account">View Accounts</a>
	</div>
	<div class="col-sm-6">
		<a class="btn btn-primary" ng-click="openAddincome('modules/accounting/transaction/addincome.html')">Add Income</a>
		<a class="btn btn-primary" ng-click="openAddexpense('modules/accounting/transaction/addexpense.html')">Add Expense</a>
		<a class="btn btn-primary" ng-click="openAddaccount('modules/accounting/account/addaccount.html')">Add Account</a>
	</div>
</div>
