<h3>Invoices</h3>
<div class="table-responsive" ng-init="getInvoices()">
  <table class="table  table-hover table-bordered">
	<thead>
	<th>Sr. No.</th>
	<th>Account Name</th>
	<th>Category</th>
	<th>Description</th>
	<th>Manage</th>
	</thead>
	<tbody>
	<tr ng-repeat="x in invoices | orderBy:sort">
	<!--<td>{{ $index+1 }}</td>
	<td>{{ x.account_name }}</td>
	<td>{{ x.category }}</td>
	<td>{{ x.description}}</td>
	<td><a ng-click="openAddinvoice('modules/accounting/invoice/addinvoice.html',x.id)" class="btn btn-primary" type="button" tooltip-animation="true" tooltip="Edit Invoice Information"> <span class="glyphicon glyphicon-pencil"></span></a>
	<a type="button" tooltip="Delete Invoice" ng-class="(x.status==1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="x.status" ng-change="deleted(x.id, x.status)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'" class="ng-pristine ng-valid active btn btn-success"><span class="glyphicon glyphicon-remove"></span></a></td>-->
	</tr>
	</tbody>
  </table>
</div>