<div class="modal-header" ng-init="modalOptions.getData(modalOptions.invoice)">
	<button type="button" class="close" ng-click="modalOptions.close()">
		<span aria-hidden="true">&times;</span></button>
		<h3>View Receipt</h3>
		<div class="clearfix">
			<button type="button" class="btn btn-primary pull-right" ng-click="modalOptions.printDiv('invoice')">Print</button>
			<button type="button" class="btn btn-danger pull-right" ng-click="modalOptions.close()">Close</button>
		</div>
</div>
<br>
<div class="form-group">
				<label for="receipts" class="col-sm-2 control-label">Receipt Id</label>
				<div class="col-sm-9">
					<select class="form-control" name="receipts" id="receipts" ng-model="receipts" ng-options="item as item.receipt_id for item in modalOptions.receiptList" ng-change="modalOptions.rentList = receipts">
					<option value="">Select Date</option>
					</select>
				</div>
</div>
</br>
<div class="modal-body">
	<div class="panel panel-default" id="invoice" ng-if="modalOptions.rentList">
		<div class="panel-heading text-center"><h2>Receipt</h2></div>
		<div class="panel-body row">
			<div class="col-xs-6">
				<address class="text-center">
					<strong>{{userDetails.name | uppercase}}</strong><br>
					{{userDetails.address.address}}<br>
					E-Mail : {{userDetails.email}}
				</address>
				<hr>
				<p>To,<br>
					<strong>{{modalOptions.rentList.name | uppercase}}</strong><br>
					{{modalOptions.rentList.address.address}}<br>{{modalOptions.rentList.address.location}}<br>{{modalOptions.rentList.address.city}}<br>{{modalOptions.rentList.address.area}}<br>{{modalOptions.rentList.address.pincode}}<br>				
				</P>
			</div>
			<div class="col-xs-6">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr class="amt">
							<td><strong>Receipt No.</strong><br>{{modalOptions.rentList.receipt_id}}
							</td>
							<td><strong>Dated</strong><br>
							{{modalOptions.rentList.receipt_date}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="table-responsive col-xs-12">
				<table class="table table-bordered">
					<thead>
						<tr class="head">
							<th class=" col-xs-8">Particulars</th>
							<th class=" col-xs-2">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Total Amount</td>
							<td class="text-right">{{modalOptions.rentList.total_amount | number : 2}}</td>
						</tr>
						<tr>
							<td>Received Amount</td>
							<td class="text-right">{{modalOptions.rentList.paid | number : 2}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td><strong>Due Amount</strong></td>
							<td class="amt text-right">{{modalOptions.rentList.due_amount | number : 2}}</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="col-xs-12">
				<p>Amount Chargeable(in words) : 
				<strong><em>{{inWords | uppercase}}</em></strong></p>
				<p><strong>Payment Details:</strong>
				Paid By <strong>{{modalOptions.rentList.description.payment_type.type}}</strong>  Against Invoice No.<strong>{{modalOptions.rentList.id}}</strong></p>
				<p><strong>Remarks: </strong>Being Invoice for <strong>{{modalOptions.rentList.generated_date | date : 'MMM-yyyy'}} </strong> Licence Fee & Maintance Charges against Agr. for
				<strong>{{modalOptions.rentList.property_name}}</strong> premise area <span ng-if="modalOptions.rentList.address.address">{{modalOptions.rentList.property_location.address}},</span> <span ng-if="modalOptions.rentList.property_location.location">{{modalOptions.rentList.property_location.location}},</span> <span ng-if="modalOptions.rentList.property_location.area">{{modalOptions.rentList.property_location.area}}, </span><span ng-if="modalOptions.rentList.property_location.city">{{modalOptions.rentList.property_location.city}}, </span><span ng-if="modalOptions.rentList.property_location.state">{{modalOptions.rentList.property_location.state}}, <span ng-if="modalOptions.rentList.property_location.country">{{modalOptions.rentList.property_location.country}} </span> <span ng-if="modalOptions.rentList.property_location.pincode">- {{modalOptions.rentList.property_location.pincode}} </span></p>
				<hr/>
				<p><strong>Company's Service Tax No: </strong>{{modalOptions.accountConfig.service_tax_no}}</p>
				<p><strong>Company's Pan: </strong>{{modalOptions.accountConfig.pan_no}} </strong></p>
				<p ng-if="modalOptions.rentList.remark">{{modalOptions.rentList.remark}} </p>
				<p class="text-right">For <strong><em>{{userDetails.name}}</em></strong><br><br><br>
				Authorised Signatory</p>
			</div>
		</div>
	</div>
</div>