<h3>Invoices</h3>
<div class="table-responsive" ng-init="getInvoices()">
<table class="table  table-hover table-bordered">
	<thead>
	<th>Sr. No.</th>
	<th>Invoice No</th>
	<th>Party Name</th>
	<th>Generated Date</th>
	<th>Payment Status</th>
	<th>Amount</th>
	<th>Due Amount</th>
	<th>Manage</th>
	<th>View Invoice</th>
	</thead>
	<tbody>
	<tr ng-repeat="x in invoices | orderBy:sort">
	<td>{{ $index+1 }}</td>
	<td>{{ x.id }}</td>
	<td>{{ x.username }}</td>
	<td>{{ x.generated_date }}</td>
	<td>{{ x.payment_status }}</td>
	<td>{{ x.total_amount}}</td>
	<td>{{ x.due_amount}}</td>
	<td><a ng-click="openAddaccount('modules/accounting/account/addaccount.html',x.id)" class="btn btn-primary" type="button" tooltip-animation="true" tooltip="Edit Invoice Information"> <span class="glyphicon glyphicon-pencil"></span></a>
	<a type="button" tooltip="Delete Invoice" ng-class="(x.status==1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="x.status" ng-change="deleted(x.id, x.status)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'" class="ng-pristine ng-valid btn btn-success btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
	<button class="btn btn-primary">Pay Invoice</button></td>
	<td><button class="btn btn-warning">View Invoice</button><button class="btn btn-warning">View Receipt</button></td>
	</tr>
	</tbody>
  </table>
	Total Amount:{{total_amount}}
	Total Due Amount:{{total_due}}
</div>