	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">	
		{{alert.msg}}
	</alert>
	<div class="row">			  
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="sort" class="control-label">Sort by Order</label>
					<select id="sort" class="form-control" ng-model="sort"> 
						<option value="">Select Order</option>	<!-- added value & selected attr -->	
						<option value="-username">Desending</option>
						<option value="username">Asending</option>  
					</select>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="status" class="control-label">Filter By Status</label>
					<select id="status" class="form-control" 
					ng-change="usersList(usersListCurrentPage,'status',showStatus)" ng-model="showStatus">
						<option value="">Select Status</option>
						<option value="1">Active</option>
						<option value="0">Deleted</option>
					</select>
			</div>
		</div>
	
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="filterbycustomerid" class="control-label">Filter By Party</label>
					<select id="filterbycustomerid" class="form-control" ng-model="filterbycustomerid"  ng-change="usersList(usersListCurrentPage,'user_id', filterbycustomerid)" ng-options="user.id as user.name for user in customerList">
						<option value="">Select Party</option>
					</select>
			</div>
		</div>
	</div>
	
	
	
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<th>Sr.No.</th>
				<th>Party Name</th>
				<th>Email</th>
				<th>Registered Date</th>
				<th>Manage</th>
			</thead>
			<tbody>
				<tr ng-repeat="users in userList |orderBy:sort">
					<td>{{((usersListCurrentPage - 1) * pageItems ) + $index + 1}}</td>
					<td>{{users.name}}</td>
					<td>{{users.email}}</td>
					<td>{{users.register_date}}</td>
					<td>
						<div  ng-if="permission.edit_user" class="btn-group">
							<a class="btn btn-info" href="#/dashboard/users/adduser/{{users.id}}" tooltip-animation="true" tooltip="Edit Party Information">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</div>
						
						<div ng-if="permission.delete_user" class="btn-group" role="group" aria-label="third group">
							<button type="button" tooltip="{{dynamicTooltip(users.status, 'Remove Party','Approve Party')}}" ng-class="(users.status==1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="users.status" ng-change="changeStatusFn('status', users.status, users.id)" btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'">
								<span ng-if="users.status==1" class="glyphicon glyphicon-ok"></span>
								<span ng-if="users.status==0" class="glyphicon glyphicon-remove"></span>
							</button>
						</div>	          
					</td>
				</tr>					
			</tbody>					
		</table>
	</div>
	
	<div class="text-center">				
		<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="usersListCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(usersListCurrentPage)"></pagination>
		<pre>Page: {{usersListCurrentPage}} / {{numPages}}</pre>
	</div>	
