
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
<h3 class="col-sm-offset-2 col-sm-9">Rent this Property</h3>
	<form name="setrentForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="setrentForm.$valid">
		<div class="form-group">
			<label  class="col-sm-2"></label>
			<div class="col-sm-7">
				<p>Note that Fields Marked * are Required.</p>		
			</div>
		</div>
		<div class="form-group" ng-if="userDetails.group_name != 'customer'">
			<label for="customer" class="col-sm-2 control-label">* User</label>
			<div class="col-sm-7">
				<select class="form-control" name="customer" id="customer"  ng-model="setrent.user_id" ng-options="item.id as item.name for item in customerList | filter: { group_name : 'customer'} " required>
					<option value="">Select User</option>
				</select>
				<span class="help-block" ng-show="setrentForm.customer.$dirty && setrentForm.customer.$invalid">
				<span ng-show="setrentForm.customer.$error.required" class="text-danger">User is required.</span>
				</span>	
			</div>
			<div class="col-sm-2">
				<a href="#/dashboard/users/adduser" class="btn btn-default">Add New User</a>
			</div>
		</div>
		<span ng-if="userDetails.group_name == 'customer'">
			<input type="hidden" class="form-control" ng-model="setrent.user_id" ng-init="setrent.user_id = userDetails.id" readonly/>
		</span> 
		
		<div class="form-group">
				<label for="title" class="col-sm-2 control-label">* Property Name</label>		
				<div class="col-sm-9">
					<input type="text" id="title" class="form-control" name="title" placeholder="title" ng-model="setrent.title" readonly ng-pattern="/^[a-zA-Z0-9(_)]*$/" required>
				</div>
		</div>
		
		<div class="form-group">
			<label for="deposit" class="col-sm-2 control-label">* Deposit</label>		
			<div class="col-sm-9">
				<input type="text" id="deposit" class="form-control" name="deposit" ng-model="setrent.deposit"placeholder="Deposit" required>
				
				<span class="text-danger" ng-show="setrentForm.deposit.$dirty && setrentForm.deposit.$invalid">
					<span ng-show="setrentForm.deposit.$error.required">Deposit is required.</span>
				</span>
			</div>
		</div>
		
		<input type="hidden" ng-model="setrent.property.id">
		
		<div class="form-group">
				<label for="rent" class="col-sm-2 control-label">* Rent</label>		
				<div class="col-sm-9">
					<input type="text" id="rent" class="form-control" name="rent" placeholder="Set Rent"  ng-pattern="/^[a-zA-Z0-9(_)]*$/" ng-model="setrent.rent" required><!--ng-model="setrent.rent"-->
					<p ng-show="setrent.rent.$error.pattern && (setrent.rent.$dirty || submitted)" class="text-danger">Enter Number only</p>
					<!-- <span class="text-danger" ng-show="setrentForm.rent.$dirty && setrentForm.rent.$invalid">
						<span ng-show="setrentForm.rent.$error.required">Rent is required.</span>
					</span> -->
				</div>
		</div>
		
		<div class="form-group">	
			<label  for="date" class="col-sm-2 control-label">Taken Date</label>
			<div class="col-sm-9">
				<input type="text" id="date" class="form-control" name="date"  value="{{dates.date}}" ng-model="setrent.taken_date"  ng-init="setrent.taken_date = dates.date" readonly  placeholder="date" >
			</div>						
		</div>
		
		 <input type="hidden" id="date1" class="form-control" name="date1" ng-model="setrent.leaving_date"  placeholder="date">
		
		<div class="form-group">
			<label for="maintainance" class="col-sm-2 control-label">* Maintainance</label>		
			<div class="col-sm-9">
				<input type="text" id="maintainance" class="form-control" name="maintainance" placeholder="Maintainance"  ng-model="setrent.maintainance" required>
				<span class="text-danger" ng-show="setrentForm.maintainance.$dirty && setrentForm.maintainance.$invalid">
					<span ng-show="setrentForm.maintainance.$error.required">Maintainance is required.</span>
				</span>
			</div>
		</div>
		
		<!-- <input type="text" ng-model="setrent.leavedate"> -->
			
		<div class="form-group">
			<label for="electricity" class="col-sm-2 control-label">Electricity Bill</label>
			<div class="col-sm-9">
				<label class="radio-inline">
					<input type="radio" name="Owner" id="Owner" value="Owner" ng-model="setrent.electricity_bill" ng-init="setrent.electricity_bill='Owner'">Owner
				</label>
				<label class="radio-inline">
					<input type="radio" name="renter" id="renter" value="renter"  ng-model="setrent.electricity_bill">Renter
				</label>
			</div>
		</div>
	
		<div class="form-group">
			<label  for="duration" class="col-sm-2 control-label">Duration</label>
				<div class="col-sm-3">
					<label  for="year" class="col-sm-3 control-label">Year</label>
						<select id="year" class="form-control" ng-model="duration.year">
						<option value="" selected>Select Year</option><!-- added value & selected attr -->
						<option value="1" >1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						</select>
				</div>
				<div class="col-sm-3">
					<label  for="month" class="col-sm-3 control-label">Month</label>
						<select id="month" class="form-control" ng-model="duration.month">
						<option value="" selected>Select Month</option><!-- added value & selected attr -->
						<option value="1" >1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						</select>
				</div>		
		</div>
		
		<input type="hidden" ng-model="setrent.duration"/>
		
		<div class="form-group">	
			<label  for="escalation" class="col-sm-2 control-label">Escalation Period</label>
				<div class="col-sm-3">
					<label  for="esc_year" class="col-sm-3 control-label">Year</label>
						<select id="esc_year" class="form-control" ng-model="duration.esc_year">
						<option value="" selected>Select Year</option><!-- added value & selected attr -->
						<option value="1" >1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						</select>
				</div>	
				<div class="col-sm-3">
					<label  for="esc_month" class="col-sm-3 control-label">Month</label>
						<select id="esc_month" name="esc_month" class="form-control" ng-model="duration.esc_month">
						<option value="" selected>Select Month</option><!-- added value & selected attr -->
						<option value="1" >1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						</select>
				</div>		
		</div>
		
		<input type="hidden" ng-model="setrent.escduration"/>
		
		<div class="form-group">
			<label for="escalation_per" class="col-sm-2 control-label">* Escalation In %</label>		
				<div class="col-sm-9">
					<input type="text" id="escalation_per" class="form-control" name="escalation_per" placeholder="Set Escalation Percentage" ng-model="setrent.escalation_amount" ng-pattern="/^[a-zA-Z0-9(_)]*$/" required>

					<span class="text-danger" ng-show="setrentForm.escalation_per.$dirty && setrentForm.escalation_per.$invalid">
						<span ng-show="setrentForm.escalation_per.$error.required">Percentage are required.</span>
					</span>
				</div>
		</div> 
			
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9"><!--ng-disabled="setrentForm.$invalid"-->
				<button type="submit" class="btn btn-success"  ng-click="postData(setrent,duration)">Submit</button>
				<button type="reset" class="btn btn-danger">Reset</button>
			</div>
		</div>					
	</form>
</div>		