<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
<h3 class="col-sm-offset-2 col-sm-9">Tax Information</h3>
<form name="rentsettingForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="rentsettingForm.$valid">
	<div class="form-group">
		<label for="service_tax" class="col-sm-2 control-label">Service Tax *</label>		
		<div class="col-sm-9">
			<input type="text" id="service_tax" class="form-control" name="service_tax" placeholder="Set Service Tax" ng-model="config.service_tax" required>
			<span class="text-danger" ng-show="rentsettingForm.service_tax.$dirty && rentsettingForm.service_tax.$invalid">
				<span ng-show="rentsettingForm.service_tax.$error.required">Service Tax is required.</span>
			</span>
		</div>
	</div>
	
	<div class="form-group">
		<label for="primary_edu_cess" class="col-sm-2 control-label">Primary Education CESS *</label>
		<div class="col-sm-9">
			<input type="text" id="primary_edu_cess" class="form-control" name="primary_edu_cess" placeholder="Set Service Tax" ng-model="config.primary_edu_cess" required>
			<span class="text-danger" ng-show="rentsettingForm.primary_edu_cess.$dirty && rentsettingForm.primary_edu_cess.$invalid">
				<span ng-show="rentsettingForm.primary_edu_cess.$error.required">Primary Education CESS is required.</span>
			</span>
		</div>
	</div>
	
	<div class="form-group">
		<label for="secondary_edu_cess" class="col-sm-2 control-label">Secondary Education CESS *</label>		
		<div class="col-sm-9">
			<input type="text" id="secondary_edu_cess" class="form-control" name="secondary_edu_cess" placeholder="Set Service Tax" ng-model="config.secondary_edu_cess" required>
			<span class="text-danger" ng-show="rentsettingForm.secondary_edu_cess.$dirty && rentsettingForm.secondary_edu_cess.$invalid">
				<span ng-show="rentsettingForm.secondary_edu_cess.$error.required">Secondary Education is required.</span>
			</span>
		</div>
	</div>
	
	<div class="form-group">
		<label for="other_tax" class="col-sm-2 control-label">Other Tax *</label>		
		<div class="col-sm-9">
			<input type="text" id="other_tax" class="form-control" name="other_tax" ng-model="config.other_tax" required>
			<span class="text-danger" ng-show="rentsettingForm.other_tax.$dirty && rentsettingForm.other_tax.$invalid">
				<span ng-show="rentsettingForm.other_tax.$error.required">Other Tax is required.</span>
			</span>
		</div>
	</div>
	
	<div class="form-group">
		<label for="tds" class="col-sm-2 control-label">TDS *</label>		
		<div class="col-sm-9">
			<input type="text" id="tds" class="form-control" name="tds" placeholder="Set TDS" ng-model="config.tds" required>
			<span class="text-danger" ng-show="rentsettingForm.tds.$dirty && rentsettingForm.tds.$invalid">
				<span ng-show="rentsettingForm.tds.$error.required">TDS is required.</span>
			</span>
		</div>
	</div> 
	
	<div class="form-group">
		<label for="pan_no" class="col-sm-2 control-label">Pan No *</label>		
		<div class="col-sm-9">
			<input type="text" id="pan_no" class="form-control" name="pan_no" placeholder="Pan No" ng-model="config.pan_no" ng-pattern="/^[a-zA-Z0-9(_)]*$/" >

			<span class="text-danger" ng-show="rentsettingForm.pan_no.$dirty && rentsettingForm.pan_no.$invalid">
				<span ng-show="rentsettingForm.pan_no.$error.required">Pan No is required.</span>
			</span>
		</div>
	</div>
	
	<div class="form-group">
		<label for="service_tax_no" class="col-sm-2 control-label">Service Tax No *</label>		
		<div class="col-sm-9">
			<input type="text" id="service_tax_no" class="form-control" name="service_tax_no" placeholder="service tax No" ng-model="config.service_tax_no" ng-pattern="/^[a-zA-Z0-9(_)]*$/" >

			<span class="text-danger" ng-show="rentsettingForm.service_tax_no.$dirty && rentsettingForm.service_tax_no.$invalid">
				<span ng-show="rentsettingForm.service_tax_no.$error.required">service tax no is required.</span>
			</span>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9"><!--ng-disabled="setrentForm.$invalid"-->
			<button type="submit" class="btn btn-success"  ng-click="changeSetting(config)">Submit</button>
			<button type="reset" class="btn btn-danger">Reset</button>
		</div>
	</div>
	
	</form>
</div>