
<div class="main-content">
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
	<div class="row">
		<div class="col-sm-12">
			<a class="btn btn-primary" ng-click="openAddstock('modules/accounting/stock/addstock.html')"><span class="glyphicon glyphicon glyphicon-plus"></span>Add Stock</a>
		</div>
	
	<h3 class="col-sm-offset-5 col-sm-9">Stock List</h3>
	<div class="col-sm-12 table-responsive" ng-init="getStock(Currentpage)">
	<table class="table  table-hover table-bordered">
	<thead>
	<th>Sr. No.</th>
	<th>Item Name</th>
	<th>Category</th>
	<th>Type</th>
	<th>Quantity</th>
	<th>Manage</th>
	</thead>
	<tbody>
	<tr ng-repeat="x in addstock | orderBy:sort">
	<td>{{ ((Currentpage - 1) * pageItems ) +$index+1 }}</td>
	<td>{{ x.goods_name }}</td>
	<td>{{ x.category }}</td>
	<td>{{ x.goods_type}}</td>
	<td>{{x.quantity}}</td>
	<td>
		<a ng-click="openAddstock('modules/accounting/stock/addstock.html',x)" class="btn btn-primary" type="button" tooltip-animation="true" tooltip="Edit Account Information"> <span class="glyphicon glyphicon-pencil"></span></a>
			
		<a type="button" tooltip="Delete Account" ng-class="(x.status==1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="x.status" ng-change="deleted(x.id, x.status)" btn-checkbox="" btn-checkbox-true="'1'" btn-checkbox-false="'0'" class="ng-pristine ng-valid active btn btn-success"><span class="glyphicon glyphicon-remove"></span></a>
	</td>
	</tr>
	</tbody>
  </table>
</div>

<div class="text-center">
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="CurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getStock(CurrentPage)"></pagination>
	<pre>Page: {{CurrentPage}} / {{numPages}}</pre>
</div>
</div>
</div>