<div class="row">		
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
				<div class="gridblock">
					<h4>
						<span tooltip="In this area you will find all properties which you want to buy or sale.You can post your property for sale!" class="glyphicon glyphicon-info-sign"></span> Property
					</h4>
					<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/property">Property</a>
				</div>
			</div>
			
			<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
				<div class="gridblock" ng-if="userDetails.permission.user_module.user_list">
					<h4>
						<span tooltip="View your all property rent details!" class="glyphicon glyphicon-info-sign"></span> View Rent Details</h4>
					<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/rentreport">Rent Details</a>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
				<div class="gridblock" ng-if="userDetails.permission.user_module.user_list">
					<h4>
						<span tooltip="View your  property income & expense details!" class="glyphicon glyphicon-info-sign"></span> Accounting</h4>
					<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/accounting">Accounting</a>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
				<div class="gridblock" ng-if="userDetails.permission.user_module.user_list">
					<h4>
						<span tooltip="List of users you have added!" class="glyphicon glyphicon-info-sign"></span> Party List
					</h4>
					<a class="btn btn-primary center-block" name="btn1" href="#/dashboard/users/userslist">Party List</a>
				</div>
			</div>	
		</div>
	</div>
</div>