<div class="main-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
		<h3>Add Expenses</h3>
	</div>
	<h3 class="col-sm-offset-2 col-sm-9">Add Expenses</h3>
		<form name="addExpenceForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addExpenceForm.$valid">
			<div class="form-group">
				<label for="category" class="col-sm-2 control-label">Category</label>
					<div class="col-sm-9">
							<select id="category" class="form-control" name="category" id="category" ng-model="addexpence.category" ng-options="item.system_name as item.name for item in modalOptions.categoryConfig.categoryExpense" ng-change="addincome.category = type" required>
								<option value="" selected>Select Type</option>
							</select>
							<span class="help-block" ng-show="addExpenceForm.category.$dirty && addExpenceForm.category.$invalid">
								<span ng-show="addExpenceForm.category.$error.required" class="text-danger">Type is required.</span>
							</span>	
					</div>
			</div>
			
			<div class="form-group">	
				<label  for="date" class="col-sm-2 control-label">Date</label>
					<div class="col-sm-9">
						<input type="text" id="date" class="form-control" value="{{dates.date}}"  ng-model="addexpence.date"  ng-init="addexpence.date = modalOptions.expenseDate.date" name="date" readonly 
						placeholder="date" >
					</div>						
			</div>
			
			<div class="form-group">
					<label for="account_no" class="col-sm-2 control-label">Account No* </label>
					<div class="col-sm-9">
						<!-- <input type="text" id="account_no" name="account_no" class="form-control" ng-model="addexpence.account_no" placeholder="Enter Account Number" ng-pattern="/^\d{0,100}[0-9]$/" required> -->
						<select class="form-control" name="account_no" id="account_no"  ng-model="addexpence.account_no" ng-options="item.id as item.account_name for item in modalOptions.accountList" required>
							<option value="" selected>Select Account No</option>
						</select>
					<span class="help-block" ng-show="addExpenceForm.account_no.$dirty && addExpenceForm.account_no.$invalid">
						<span ng-show="addExpenceForm.account_no.$error.required" class="text-danger">Account No is required.</span>
						<span ng-show="(addExpenceForm.account_no.$dirty || submitted)" class="text-danger">Enter Numbers Only!</span>
					</span>
					</div>
			</div>	
			
			<div class="form-group">
				<label  for="debit_amount" class="col-sm-2 control-label">Amount</label>
					<div class="col-sm-9">
						<input type="number" id="debit_amount" class="form-control" ng-model="addexpence.debit_amount" name="debit_amount" placeholder="Amount" required>
						<span class="help-block" ng-show="addExpenceForm.debit_amount.$dirty && addExpenceForm.debit_amount.$invalid">
						<span ng-show="addExpenceForm.debit_amount.$error.pattern && (addExpenceForm.debit_amount.$dirty || submitted)" class="text-danger">Enter Numbers Only!</span>
						<span ng-show="addExpenceForm.debit_amount.$error.required" class="text-danger">. is required.</span>
						</span>
					</div>						
			</div>
			
			<input type="hidden" ng-model="addexpence.balancesheet_type" ng-init="addexpence.type = 'expence'" />
			
			
			<div class="form-group">
				<label for="payment_type" class="col-sm-2 control-label">Payment Type </label>
					<div class="col-sm-9">
							<select id="payment_type" name="payment_type" class="form-control" ng-model="addexpence.description.payment_type.type" required>
							<option value="" selected>Select Type</option><!-- added value & selected attr -->
							<option value="Cash" >Cash</option>
							<option value="Cheque">Cheque</option>
							<option value="Net Banking">Net Banking</option>
							<option value="DD">DD</option>
							</select>
							<span class="help-block" ng-show="addExpenceForm.payment_type.$dirty && addExpenceForm.payment_type.$invalid">
								<span ng-show="addExpenceForm.payment_type.$error.required" class="text-danger">Payment Type is required.</span>
							</span>	
					</div>
			</div>
			
			<div class="form-group" ng-if="addexpence.description.payment_type.type =='Cheque' || addexpence.description.payment_type.type =='Net Banking' || addexpence.description.payment_type.type =='DD'">
				<label for="refferance no" ng-if="addexpence.description.payment_type.type == 'Net Banking'"class="col-sm-2 control-label">Transaction No</label>
				<label for="refferance no" ng-if="addexpence.description.payment_type.type == 'Cheque'" class="col-sm-2 control-label">Cheque No</label>
				<label for="refferance no" ng-if="addexpence.description.payment_type.type == 'DD'" class="col-sm-2 control-label">DD No</label>
					<div class="col-sm-9">
						<input type="text" id="refferance no" ng-if="addexpence.description.payment_type.type == 'Net Banking'" ng-model="addexpence.description.payment_type.transaction_No" class="form-control" name="refferance no"   placeholder="Enter Refferance No" >
						<input type="text" id="refferance no" ng-if="addexpence.description.payment_type.type == 'Cheque'" ng-model="addexpence.description.payment_type.cheque_no" class="form-control" name="refferance no"   placeholder="Enter Cheque No" >
						<input type="text" id="refferance no" ng-if="addexpence.description.payment_type.type == 'DD'" ng-model="addexpence.description.payment_type.DD_no" class="form-control" name="refferance no"   placeholder="Enter DD No" >
					</div>		
			</div>
			
			<div class="form-group" ng-if="addexpence.description.payment_type.type == 'Cheque' || addexpence.description.payment_type.type == 'Net Banking' || addexpence.description.payment_type.type == 'DD'">
				<label for="Date" class="col-sm-2 control-label">Date</label>
				 <div class="col-sm-9">
						<!-- <input type="text" id="Date" ng-model="addincome.description.payment_type.Date" class="form-control" name="Date"   placeholder="Enter Date" > ng-init="addexpence.description.payment_type.date = dates.date"-->
					<input type="text" id="date" class="form-control" value="{{dates.date}}" ng-model="addexpence.date" ng-init="addexpence.date = modalOptions.expenseDate.date" name="date"  
						placeholder="date" >
				</div>					
			</div>
			
			<div class="form-group" ng-if="addexpence.description.payment_type.type == 'Cheque' || addexpence.description.payment_type.type == 'Net Banking' || addexpence.description.payment_type.type == 'DD'">
				<label for="Bank" class="col-sm-2 control-label">Bank Name</label>
					<div class="col-sm-9">
						<input type="text" id="Bank" ng-model="addexpence.description.payment_type.Bank" class="form-control" name="Bank"   placeholder="Enter Bank Name" required>
					</div>		
			</div>
			
			<div class="form-group" ng-if="addexpence.description.payment_type.type == 'Cheque' || addexpence.description.payment_type.type == 'Net Banking' || addexpence.description.payment_type.type == 'DD'">
				<label for="Branch" class="col-sm-2 control-label">Branch</label>
					<div class="col-sm-9">
						<input type="text" id="Branch" ng-model="addexpence.description.payment_type.Branch" class="form-control" name="Branch" placeholder="Enter Branch" required>
					</div>		
			</div>
		
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
					<button type="submit" class="btn btn-success" ng-disabled="addExpenceForm.$invalid" ng-click="modalOptions.postDataExpence(addexpence)">Submit</button>
					<button type="reset" class="btn btn-danger">Reset</button>
				</div>
			</div>	
		</form>
</div>