<div class="main-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
		<h3>Add Income</h3>
	</div>
	<h3 class="col-sm-offset-2 col-sm-9">Add Income</h3>
		<form name="addIncomeForm" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addIncomeForm.$valid">
			<div class="form-group">
				<label for="income_expence_type" class="col-sm-2 control-label">Income Type</label>
					<div class="col-sm-9">
						<select id="income_expence_type" class="form-control" name="income_expence_type" id="income_expence_type" ng-model="type" ng-change="addincome.income_expence_type = type" required>
						<option value="" selected>Select Type</option><!-- added value & selected attr -->
						<option value="Rent" >Rent</option>
						<option value="other">Other</option>
						</select>
						<span class="help-block" ng-show="addIncomeForm.income_expence_type.$dirty && addIncomeForm.income_expence_type.$invalid">
							<span ng-show="addIncomeForm.income_expence_type.$error.required" class="text-danger">Type is required.</span>
						</span>		
					</div>
			</div> 

			<div ng-if = "type =='Rent'">
			<div class="form-group" ng-if="userDetails.group_name != 'customer'">
				<label for="customer" class="col-sm-2 control-label">Customer *</label>
				<div class="col-sm-7">
					<select class="form-control" name="customer" id="customer"  ng-model="templateList.user_id" ng-options="item.id as item.name for item in modalOptions.customerList | filter: { group_name : 'customer'} " required>
						<option value="">Select Customer</option>
					</select>
					
					<span class="help-block" ng-show="addIncomeForm.customer.$dirty && addIncomeForm.customer.$invalid">
						<span ng-show="addIncomeForm.customer.$error.required" class="text-danger">Customer is required.</span>
					</span>	
				</div>
			</div>
				<span ng-if="userDetails.group_name == 'customer'">
					<input type="hidden" class="form-control" ng-model="addincome.description.user_id"  readonly/>
				</span> 
			</div>
			
			<div class="form-group" ng-if="addincome.description.user_id" ng-init="getPropertylist(addincome.description.user_id,'user')">
				<label for="receipt" class="col-sm-2 control-label">* Receipt</label>
					<div class="col-sm-7">
						<select class="form-control" name="receipt" id="receipt" ng-model="addincome.receipt_id" ng-options="item.id as item.generated_date for item in receiptList | filter : { due_amount : '0' }" required>
							<option value="">Select Receipt</option>
						</select>
						<span class="help-block" ng-show="addIncomeForm.receipt.$dirty && addIncomeForm.receipt.$invalid">
							<span ng-show="addIncomeForm.receipt.$error.required" class="text-danger">Receipt is required.</span>
						</span>	
					
					</div>
			</div>
		
			<input type="hidden" class="form-control" ng-model="userDetails.id"  readonly/>
			<input type="hidden"  ng-if="type !='other'" ng-model="addincome.income_expence_type"/>
			<input type="hidden" ng-model="addincome.balancesheet_type" ng-init="addincome.balancesheet_type='income'"/> 
			
			<div class="form-group" ng-if="type =='other'">
				<label for="income_expence" class="col-sm-2 control-label">other</label>
					<div class="col-sm-9">
						<input type="text" id="income_expence" class="form-control" ng-model="addincome.income_expence_type" />
					</div>
			</div>
			
			<div class="form-group">	
				<label  for="date" class="col-sm-2 control-label">Date</label>
					<div class="col-sm-9">
						<input type="text" id="date" class="form-control" value="{{dates.date}}"  ng-model="addincome.date" ng-init="addincome.date = modalOptions.incomeDate.date"  name="date" readonly 
						placeholder="date" ><!--ng-init="addincome.date = dates.date"-->
					</div>						
			</div>
			
			<div class="form-group">
				<label  for="credit_amount" class="col-sm-2 control-label">Amount</label><!--ng-pattern="/^\d{0,9}[0-9]$/" -->
					<div class="col-sm-9">
						<input type="text" id="credit_amount" class="form-control"  ng-pattern="/^\d{0,9}[0-9]$/" ng-model="addincome.credit_amount" name="amount" placeholder="Amount" required/>
						<span class="help-block" ng-show="addIncomeForm.credit_amount.$dirty && addIncomeForm.credit_amount.$invalid">
						<span ng-show="addIncomeForm.credit_amount.$error.pattern && (addIncomeForm.credit_amount.$dirty || submitted)" class="text-danger">Enter Numbers Only!</span>
						<span ng-show="addIncomeForm.credit_amount.$error.required" class="text-danger">. is required.</span>
						</span>
					</div>						
			</div>
			
			<div class="form-group">
				<label for="payment_type" class="col-sm-2 control-label">Payment Type </label>
					<div class="col-sm-9">
						<select id="payment_type" class="form-control" name="payment_type"  ng-model="addincome.description.payment_type.type" required>
						<option value="" selected>Select Type</option><!-- added value & selected attr -->
						<option value="Cash" >Cash</option>
						<option value="Cheque">Cheque</option>
						<option value="Net Banking">Net Banking</option>
						<option value="DD">DD</option>
						</select>
						<span class="help-block" ng-show="addIncomeForm.payment_type.$dirty && addIncomeForm.payment_type.$invalid">
							<span ng-show="addIncomeForm.payment_type.$error.required" class="text-danger">Payment Type is required.</span>
						</span>	
					</div>
			</div>
			
			 <div class="form-group" ng-if="addincome.description.payment_type.type == 'Cheque' || addincome.description.payment_type.type == 'Net Banking' || addincome.description.payment_type.type == 'DD'">
				<label for="refferance no" ng-if="addincome.description.payment_type.type == 'Net Banking'"class="col-sm-2 control-label">Transaction No</label>
				<label for="refferance no" ng-if="addincome.description.payment_type.type == 'Cheque'" class="col-sm-2 control-label">Check No</label>
				<label for="refferance no" ng-if="addincome.description.payment_type.type == 'DD'" class="col-sm-2 control-label">DD No</label>
					<div class="col-sm-9">
						<input type="text" id="refferance no" ng-if="addincome.description.payment_type.type == 'Net Banking'" ng-model="addincome.description.payment_type.transaction_No" class="form-control" name="refferance no"   placeholder="Enter Refferance No" >
						<input type="text" id="refferance no" ng-if="addincome.description.payment_type.type == 'Cheque'" ng-model="addincome.description.payment_type.check_no" class="form-control" name="refferance no"   placeholder="Enter Check No" >
						<input type="text" id="refferance no" ng-if="addincome.description.payment_type.type == 'DD'" ng-model="addincome.description.payment_type.DD_no" class="form-control" name="refferance no"   placeholder="Enter DD No" >
					</div>		
			</div>

			<div class="form-group" ng-if="addincome.description.payment_type.type == 'Cheque' || addincome.description.payment_type.type == 'Net Banking' || addincome.description.payment_type.type == 'DD'">
				<label for="Date" class="col-sm-2 control-label">Date</label>
				 <div class="col-sm-9">
					<input type="text" id="date" class="form-control" value="{{dates.date}}"  ng-model="addincome.date" ng-init="addincome.date = modalOptions.incomeDate.date"  name="date" 
					placeholder="date">
				</div>					
			</div>
			
			<div class="form-group" ng-if="addincome.description.payment_type.type == 'Cheque' || addincome.description.payment_type.type == 'Net Banking' || addincome.description.payment_type.type == 'DD'">
				<label for="Bank" class="col-sm-2 control-label">Bank Name</label>
					<div class="col-sm-9">
						<input type="text" id="Bank" ng-model="addincome.description.payment_type.Bank" class="form-control" name="Bank"   placeholder="Enter Bank Name" >
					</div>		
			</div>
			
			<div class="form-group" ng-if="addincome.description.payment_type.type == 'Cheque' || addincome.description.payment_type.type == 'Net Banking' || addincome.description.payment_type.type == 'DD'">
				<label for="Branch" class="col-sm-2 control-label">Branch</label>
					<div class="col-sm-9">
						<input type="text" id="Branch" ng-model="addincome.description.payment_type.Branch" class="form-control" name="Branch"   placeholder="Enter Branch" >
					</div>		
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9"><!--ng-disabled="addIncomeForm.$invalid"-->
					<button type="submit" class="btn btn-success" ng-disabled="addIncomeForm.$invalid" ng-click="modalOptions.postData(addincome)">Submit</button>
					<button type="reset" class="btn btn-danger">Reset</button>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" ng-click="modalOptions.ok()">OK</button>
			</div>			
		</form>
</div>