<div class="modal-header" ng-init="modalOptions.getAccountConfig()">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	<h3>Add New Account</h3>
</div>
<div class="modal-body col-sm-12">
	<form class="form-horizontal" name="accountForm" novalidate="novalidate" 	ng-submit="accountForm.$valid">
		<div class="form-group">
			<label for="accountname" class="col-sm-3 control-label">Account Name</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="accountname" ng-model="account.accountname">
			</div>
		</div>
		<div class="form-group">
				<label for="category" class="col-sm-3 control-label">Category</label>
				<div class="col-sm-8">
					<select class="form-control ng-pristine ng-invalid ng-invalid-required" name="category" id="category" ng-model="account.category">
						<option value="">Select User Group</option>
						<option value="1" class="ng-scope ng-binding">Bank Account</option>
						<option value="2" class="ng-scope ng-binding">Capital Account</option>
						<option value="3" class="ng-scope ng-binding">Party Account</option>
					</select>
					<span class="help-block ng-hide" ng-show="accountForm.category.$dirty &amp;&amp; accountForm.category.$invalid">
						<span class="text-danger" ng-show="accountForm.category.$error.required">Category Must Required</span>
					</span>				
				</div>
		</div>
		<div class="form-group">
			<label for="accountnumber" class="col-sm-3 control-label">Account Name</label>
			<div class="col-sm-8">
				<input type="int" class="form-control" id="accountnumber" ng-model="account.accountnumber">
			</div>
		</div>	
		<div class="form-group">
			<label for="description" class="col-sm-3 control-label">Description</label>
			<div class="col-sm-8">
				<textarea class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" id="description" ng-model="account.description" name="description" placeholder="Enter Account description" ng-maxlength="75" required=""></textarea>
					<p ng-hide="accountForm.description.$error.maxlength" class="ng-binding">75 Characters left</p>
					<span class="help-block ng-hide" ng-show="accountForm.description.$dirty &amp;&amp;  accountForm.description.$invalid">
						<span class="text-danger ng-hide" ng-show="accountForm.description.$error.maxlength">Sorry You are Exceeding the Limit</span>
						<span class="text-danger" ng-show="accountForm.description.$error.required">Address is required.</span>
					</span>
			</div>
		</div>
		<div class="form-group">
			<label  for="due_date" class="col-sm-3 control-label">Date</label>
			<div class="col-sm-8">
				<input type="text" class="form-control " placeholder="YYYY-DD-MM" id="due_date" name="due_date" ng-model="account.generated_date" ng-init="account.generated_date = modalOptions.account.date" />
			</div>
		</div>
	</form>
</div>
<div class="modal-footer ">
	<button type="submit" ng-disabled="receiptForm.$invalid" class="btn btn-primary" ng-click="modalOptions.formData(rentData, modalOptions.total_amount); modalOptions.ok()">ADD</button>
</div>